.picture {
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.work {
  padding-top: 24px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.project {
  border: 2px solid #002a60;
  border-radius: 12px;
  margin: 0 24px;
  height: 400px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#131313+0,1c1c1c+9,2b2b2b+24,111111+29,000000+33,2c2c2c+35,474747+61,666666+75,595959+88,4c4c4c+100 */
  background: rgb(19, 19, 19); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(19, 19, 19, 1) 0%, rgba(28, 28, 28, 1) 9%, rgba(43, 43, 43, 1) 24%, rgba(17, 17, 17, 1) 29%, rgba(0, 0, 0, 1) 33%, rgba(44, 44, 44, 1) 35%, rgba(71, 71, 71, 1) 61%, rgba(102, 102, 102, 1) 75%, rgba(89, 89, 89, 1) 88%, rgba(76, 76, 76, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(19, 19, 19, 1) 0%, rgba(28, 28, 28, 1) 9%, rgba(43, 43, 43, 1) 24%, rgba(17, 17, 17, 1) 29%, rgba(0, 0, 0, 1) 33%, rgba(44, 44, 44, 1) 35%, rgba(71, 71, 71, 1) 61%, rgba(102, 102, 102, 1) 75%, rgba(89, 89, 89, 1) 88%, rgba(76, 76, 76, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(19, 19, 19, 1) 0%, rgba(28, 28, 28, 1) 9%, rgba(43, 43, 43, 1) 24%, rgba(17, 17, 17, 1) 29%, rgba(0, 0, 0, 1) 33%, rgba(44, 44, 44, 1) 35%, rgba(71, 71, 71, 1) 61%, rgba(102, 102, 102, 1) 75%, rgba(89, 89, 89, 1) 88%, rgba(76, 76, 76, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.ulTech {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}

.repoLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projectLink {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100 */
  background: -moz-linear-gradient(-45deg, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  align-items: center;
  text-align: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 5px 2px 2px #000;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.projectLink:hover,
.projectLink:focus {
  background-color: #096bed;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.projectLink:hover {
  transform: translateY(-1px);
}

.projectLink:active {
  background-color: #002a60;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.projectName {
  font-size: 24px;
}

#ProjectsBtn {
  margin: 16px auto;
  width: fit-content;
  color: #fff;
  background-color: #004aad;
  box-shadow: 5px 2px 2px black;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
}

.projectsMenu {
  display: none;
}

.projectsMenu.active {
  z-index: 1006;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(to top, #000, #004aad);
  padding: 48px 0;
}

.projectItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 8px;
  padding: 12px 6px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  background-image: linear-gradient(to right, #004aad, #4294ff);
  border-radius: 4px;
}

.imageItem {
  width: 96px;
  border-radius: 4px;
}

.hamburger.inactive {
  display: none;
}

.removeProjectsBtn {
  width: fit-content;
  background-color: transparent;
  border: none;
  position: fixed;
  top: 28px;
  right: 12px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.itemLinks {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.itemLink {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100 */
  background: -moz-linear-gradient(-45deg, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  align-items: center;
  text-align: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #000;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: 2px 4px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.itemLink:hover,
.itemLink:focus {
  background-color: #096bed;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.itemLink:hover {
  transform: translateY(-1px);
}

.itemLink:active {
  background-color: #002a60;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.itemDesc {
  display: none;
}

@media only screen and (min-width: 769px) {
  .project {
    height: 550px;
    border-radius: 18px;
    padding: 36px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .picture {
    width: 90%;
    border-radius: 16px;
    border: 4px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .projectLink {
    font-size: 24px;
  }

  .ulTech {
    font-size: 22px;
  }

  .projectName {
    font-size: 28px;
  }

  .cardDescription {
    font-size: 22px;
  }

  #ProjectsBtn {
    font-size: 24px;
    border: 3px solid black;
    margin: 16px auto;
    color: #fff;
    background-color: #004aad;
    box-shadow: 10px 5px 5px black;
    border-radius: 16px;
    padding: 12px 24px;
    cursor: pointer;
  }

  .projectsMenu.active {
    overflow-y: auto;
  }

  .projectItem {
    margin-top: 12px;
    padding: 12px;
    font-size: 18px;
  }

  .imageItem {
    width: 256px;
  }

  .removeProjectsBtn {
    right: 64px;
  }

  .itemLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 170px;
  }

  .itemLink {
    box-shadow: 4px 2px 2px #000;
    font-size: 16px;
    padding: 8px 16px;
    width: 150px;
    margin-left: auto;
  }

  .itemDesc {
    display: block;
  }

  .itemContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .itemTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
  }
}
