@font-face {
  font-family: roboto;
  src: url('../../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: robotoItalic;
  src: url('../../fonts/RobotoCondensed-LightItalic.ttf');
}

.myName {
  color: #fff;
  text-shadow: 4px 4px blue;
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 48px;
}

.Developer {
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 4px 4px blue;
}

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  z-index: 5;
}

.aboutDescription {
  width: 85%;
  color: #fff;
  padding: 24px 0;
  font-family: roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-size: 20px;
  margin: 1% 0;
}

.marquee {
  width: 85%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  font-size: 18px;
}

.marqueeblock {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 24s linear infinite;
}

.marqueeblock2 {
  animation-delay: 12s;
}

.ulmarquee {
  display: flex;
}

.profilePicture {
  border-radius: 90px;
  border: 4px solid #4294ff;
  width: 180px;
  margin-top: 80px;
  margin-bottom: 12px;
}

.SkillsDescription {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  width: 80%;
  font-size: 20px;
  margin: 8px 0;
}

.SkillsDescription img {
  align-self: center;
  justify-self: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1250px);
  }
}

.ulmarquee li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 4px;
  align-items: center;
}

.skill {
  width: 30px;
}

.railsimg {
  width: 50px;
  margin: auto 0;
}

@media only screen and (min-width: 769px) {
  .myName {
    text-shadow: 6px 6px blue;
    font-size: 64px;
  }

  .Developer {
    text-shadow: 6px 6px blue;
    font-size: 48px;
  }

  .about {
    margin-bottom: 128px;
  }

  .aboutDescription {
    width: 50%;
    padding: 48px 0;
  }

  .profilePicture {
    border-radius: 130px;
    border: 4px solid #4294ff;
    width: 260px;
    margin-top: 100px;
    margin-bottom: 12px;
  }

  .description {
    font-size: 28px;
    width: 100%;
  }

  .marquee {
    font-size: 28px;
    width: 50%;
  }

  .skill {
    width: 40px;
  }

  .railsimg {
    width: 60px;
    margin: auto 0;
  }

  .marqueeblock {
    display: inline-block;
    padding-left: 100%;
    animation: marquee2 24s linear infinite;
  }

  .marqueeblock2 {
    animation-delay: 12s;
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-1830px);
    }
  }

  .SkillsDescription {
    width: 60%;
    font-size: 28px;
    margin: 16px 0;
  }
}
