.submitedContainer {
  color: #fff;
  font-family: roboto, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.thanksMessage {
  padding-top: 48px;
  padding-bottom: 2px;
  margin-bottom: 24px;
  border-bottom: 1px solid #fff;
  font-size: 18px;
}

.contactLink {
  margin-top: 24px;
  color: #fff;
  background-color: #004aad;
  border-radius: 16px;
  padding: 12px 24px;
  text-decoration: none;
}

.contactForm {
  width: 85%;
  padding-top: 24px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 28px;
  margin: 6px auto 6px auto;
  padding: 12px 0;
  width: 80%;
  text-shadow: 4px 4px blue;
}

.labelInput {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  margin-top: 10px;
  text-align: left;
  width: 80%;
}

.input {
  padding: 8px;
  margin: 8px 0;
  border: 2px solid #004aad;
  border-radius: 8px;
  box-shadow: 10px 5px 5px black;
}

#submitButton {
  margin: 8px 0;
  color: #fff;
  background-color: #004aad;
  box-shadow: 10px 5px 5px black;
  border: 2px solid #000;
  border-radius: 16px;
  padding: 12px 24px;
}

#formspree {
  color: #ff2441;
  display: flex;
  margin-left: 5px;
}

#formspreeLink {
  width: 80%;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 769px) {
  .thanksMessage {
    padding-top: 64px;
    padding-bottom: 4px;
    margin-bottom: 48px;
    border-bottom: 2px solid #fff;
    font-size: 28px;
  }

  .contactForm {
    width: 60%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 48px;
    text-shadow: 4px 4px blue;
  }

  .input {
    padding: 8px 12px;
    font-size: 22px;
    border: 4px solid #004aad;
  }

  #submitButton {
    font-size: 20px;
    border: 3px solid black;
  }

  #formspreeLink {
    font-size: 16px;
  }
}
