.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004aad;
  padding: 8px 8px 0 8px;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.logo {
  width: 60px;
  margin-left: 24px;
}

.navMenu {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

/* .linkActive {
  display: none;
}

.linkInactive {
  width: fit-content;
  display: block;
  text-decoration: none;
  color: #fff;
} */

@media only screen and (min-width: 769px) {
  .navbar {
    padding: 16px 64px 0 64px;
  }

  .logo {
    width: 80px;
    margin-left: 24px;
  }

  /* .linkInactive {
    font-size: 24px;
    text-decoration: underline;
    padding: 12px 18px;
  }

  .linkActive {
    font-size: 24px;
    width: fit-content;
    display: block;
    text-decoration: none;
    color: #004aad;
    background-color: #fff;
    padding: 12px 18px;
    border-radius: 16px;
    box-shadow: 4px 4px 4px black;
  } */
}
